#.gitignore
# Created Mon November 19, 2018
# by Raymond E. Marcil <marcilr@gmail.com>
#
# Files for git to ignore
#
.gitignore
chassis/
cpu-low-watt/
fitlet2/
fitlet3/
global-american/
hdplex/
power/
streacom/
the-build/
